{% extends 'homebook/base.html' %}

{% include 'cashBreakdown/update.html' %}

{% include 'cashBreakdown/delete.html' %}

{% load static %}


<title>{% block title %}Cash Breakdown Table{% endblock %}</title>

<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'>

{% block body %}
<div class="container-fluid text-right card bg-secondary card-dark mx-0 px-0 my-0 py-0">
    <h2 class="text-center bg-dark text-warning">Cash Breakdown</h2>
    <h3 class="text-center bg-dark text-warning">Cash Breakdown Table</h3>
    <div class="border p-3">
        <a class="btn btn-warning bg-primary btn-info block-lg" href="{% url 'homebook-cashBreakdown_create' %}">Add</a>
        <form action="" method="POST">
            {% csrf_token %}

        </form>
        <table class="table id=CashBreakdown align-middle text-warning bg-dark">
            <tr>
                <th>Cash Breakdown Date</th>
                <th>money</th>
                <th>one thousands</th>
                <th>five hundreds</th>
                <th>two hundreds</th>
                <th>one hundreds</th>
                <th>fifties</th>
                <th>forties</th>
                <th>twenties</th>
                <th>tens</th>
                <th>fives</th>
                <th>ones</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>

            {% for note in CashBreakdown %}

            <tr>

                <td>{{note.cashBreakdown_date}}</td>
                <td>{{note.money}}</td>
                <td>{{note.one_thousands}}</td>
                <td>{{note.five_hundreds}}</td>
                <td>{{note.two_hundreds}}</td>
                <td>{{note.one_hundreds}}</td>
                 <td>{{note.fifties}}</td>
                <td>{{note.forties}}</td>
                <td>{{note.twenties}}</td>
                <td>{{note.tens}}</td>
                <td>{{note.fives}}</td>
                <td>{{note.ones}}</td>
                <td><a class="btn btn-info btn-block bg-primary btn btn-info"
                       href="{% url 'cashBreakdown-update' note.id %}">Edit</a></td>
                <td><a class="btn btn-info btn-block bg-danger btn btn-info"
                       href="{% url 'cashBreakdown-delete' note.id %}">Delete</a></td>
            </tr>
            {% endfor %}

            <tr>
                <th>#</th>
                <th>#</th>
                <th>#</th>
                <th>#</th>
                <th>#</th>
                <th>#</th>
                <th>#</th>
                <th>#</th>
                <th>#</th>
                <th>#</th>
                <th>#</th>
                <th>#</th>
            </tr>
        </table>
    </div>
</div>

{% endblock  %}