{% extends 'homebook/base.html' %}


{% load static %}

{% block title %}Employee Update{% endblock %}

<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'>

{% block body %}
<div class="container fluid text center">
    <div class="booking-form">
        <h3 style="color: fuchsia;padding-top: 5%;">Add Employee Details</h3>
        <form method="POST" action="{% url 'add_employee'  %}">
            {% csrf_token %}

            <div class="form-group">
                <label class="form-label">National Identity:</label>
                <div>{{form.eNname}}</div>
                <input type="text" value="{{form.eNname}}"/>
            </div>

            <div class="form-group">
                <label class="form-label">First Name:</label>
                <div>{{form.eFname}}</div>
                <input type="text" value="{{form.eFname}}"/>
            </div>

            <div class="form-group">
                <label class="form-label">Other Name:</label>
                <div>{{form.eOname}}</div>
                <input type="text" value="{{form.eOname}}"/>
            </div>

            <div class="form-group">
                <label class="form-label">Last Name:</label>
                <div>{{form.eLname}}</div>
                <input type="text" value="{{form.eLname}}"/>
            </div>

            <div class="form-group">
                <label class="form-label">Pay Amount:</label>
                <div>{{form.eLname}}</div>
                <input type="text" value="{{form.eLname}}"/>
            </div>

            <div class="form-group">
                <label class="form-label">Timestamp Last Updated:</label>
                <div>{{form.eLname}}</div>
                <input type="text" value="{{form.eLname}}"/>
            </div>

            <div class="form-group">
                <label class="form-label">Timestamp Added:</label>
                <div>{{form.eLname}}</div>
                <input type="text" value="{{form.eLname}}"/>
            </div>

            <div class="form-group">
                <label class="form-label">Company:</label>
<!--                <div>{{form.eCompany}}</div>-->
                <select style="height:40px;width:300px" class="form-control" id="formGroupExampleInput3"
                                name="Company">
                            <option selected disabled>choose option</option>
                            <option value="Mogoon Farm">Mogoon Farm</option>
                            <option value="Morombi Escarpment">Morombi Escarpment</option>
                            <option value="Kamatargui Guesthouse">Kamatargui Guesthouse</option>
                        </select>
            </div>
            <br>
            <p style="color:crimson">Company not available?</p>
            <button class="btn-info btn-sm" onclick="location.href='/members/signup'">Click Here</button>

            <div class="form-group">
                <label class="form-label">Employee Email:</label>
                <div>{{form.eEmail}}</div>
                <input type="text" value="{{form.eEmail}}"/>
            </div>

            <div class="form-group">
                <label class="form-label">Employee phone:</label>
                <div>{{form.ePhone}}</div>
                <input type="text" value="{{form.ePhone}}"/>
            </div>
            <br>

              <div class="container my-3">
                        <button class="btn btn-dark" type="submit" value="Update" name="update"
                                typeof="hover">Submit
                        </button>
                        <a class="btn btn-warning bg-secondary btn-info block-lg"
                           href="{% url 'homebook-employee' %}">Return</a>
                    </div>
        </form>
    </div>
</div>


{% endblock %}