{% load static %}
<link rel='stylesheet' href="{% static 'style.css' %}" type='text/css'>
<title>{% block title %}Input Table{% endblock %}</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
 <div class="row g-4 d-flex align-items-center">
    <div class="col-lg-8 d-none d-lg-flex">
        <div class="container fluid bg-success text-light" style="width: 30rem;">
            <div class="card card bg-dark text-right" style="width: 25rem;">
                <h2 class="text-center text-warning">Input Table</h2>
                <h3 class="text-center text-warning">Input</h3>
                <form action="{% url 'homebook-cashBreakdown_calc' %}" method="POST">
                     {% csrf_token %}



                    <label for="formGroupExampleInput1" class="form-label"><strong>Input
                        Date</strong></label>
                    Enter input_date<input style="height:40px;width:300px" type="datetime-local" class="form-control"
                           id="formGroupExampleInput1" placeholder="input_date" name="input_date">

                    <div class="row g-3">
                        <div class="col-sm col-sm">
                            <label for="formGroupExampleInput3" class="form-label"><strong>Amount
                            </strong></label>
                            Enter amount:<input style="height:40px;width:300px" type="number"
                                   class="form-control" id="formGroupExampleInput3" placeholder="amount"
                                   name="amount" value="">
                        </div>

                        <div class="col-sm col-sm">
                            <label for="formGroupExampleInput4"
                                   class="form-label"><strong>One_Thousands</strong></label>
                            Enter One_thousands:<input style="height:40px;width:300px" type="number"
                                   class="form-control" id="formGroupExampleInput4" placeholder="One_thousands"
                                   name="One_thousands"
                                   value="">
                        </div>

                        <div class="col-sm col-sm">
                            <label for="formGroupExampleInput5"
                                   class="form-label"><strong>Five_hundreds</strong></label>
                            Enter Five_hundreds:<input style="height:40px;width:300px" type="number"
                                   class="form-control" id="formGroupExampleInput5" placeholder="Five_hundreds"
                                   name="Five_hundreds" value="">
                        </div>

                        <div class="col-sm col-sm">
                            <label for="formGroupExampleInput6"
                                   class="form-label"><strong>Two_hundreds</strong></label>
                            Enter Two_hundreds:<input style="height:40px;width:300px" type="number"
                                   class="form-control" id="formGroupExampleInput6" placeholder="Two_hundreds"
                                   name="Two_hundreds" value="">
                        </div>
                        <div class="col-sm col-sm">
                            <label for="formGroupExampleInput7"
                                   class="form-label"><strong>One_hundreds</strong></label>
                            Enter One_hundreds:<input style="height:40px;width:300px" type="number"
                                   class="form-control" id="formGroupExampleInput7" placeholder="One_hundreds"
                                   name="One_hundreds" value="">
                        </div>
                        <div class="col-sm col-sm">
                            <label for="formGroupExampleInput8"
                                   class="form-label"><strong>Fifties</strong></label>
                            Enter Fifties:<input style="height:40px;width:300px" type="number"
                                   class="form-control" id="formGroupExampleInput8" placeholder="Fifties"
                                   name="Fifties" value="">
                        </div>
                        <div class="col-sm col-sm">
                            <label for="formGroupExampleInput9"
                                   class="form-label"><strong>Fortie</strong></label>
                            Enter Forties:<input style="height:40px;width:300px" type="number"
                                   class="form-control" id="formGroupExampleInput9" placeholder="Forties"
                                   name="Forties" value="">
                        </div>
                        <div class="col-sm col-sm">
                            <label for="formGroupExampleInput10"
                                   class="form-label"><strong>Twenties</strong></label>
                            Enter Twenties:<input style="height:40px;width:300px" type="number"
                                   class="form-control"
                                   id="formGroupExampleInput10" placeholder="Twenties"
                                   name="Twenties" value="">
                        </div>
                        <div class="col-sm col-sm">
                            <label for="formGroupExampleInput11"
                                   class="form-label"><strong>Tens</strong></label>
                            Enter Tens:<input style="height:40px;width:300px" type="number"
                                   class="form-control" id="formGroupExampleInput11"
                                   placeholder="Tens" name="Tens" value="">
                        </div>
                        <div class="col-sm col-sm">
                            <label for="formGroupExampleInput12"
                                   class="form-label"><strong>Fives
                            </strong></label>
                            Enter Fives:<input style="height:40px;width:300px" type="number"
                                   class="form-control" id="formGroupExampleInput12" placeholder="Fives"
                                   name="Fives" value="">
                        </div>
                        <div class="col-sm col-sm">
                            <label for="formGroupExampleInput13"
                                   class="form-label"><strong>Ones
                            </strong></label>
                            Enter Ones:<input style="height:40px;width:300px" type="number"
                                   class="form-control" id="formGroupExampleInput13" placeholder="Ones"
                                   name="Ones" value="">
                        </div>

                        <div class="container my-3">
                            <button class="btn btn-info" type="submit" value="Update" name="update"
                                    typeof="hover">Submit
                            </button>
                            <a class="btn btn-warning bg-warning btn-info block-lg"
                               href="{% url 'homebook-cashBreakdown_results' %}">Return</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}